@using EducationModel

 @model  List<Teacher>
@{
ViewData["Title"] = "Teacher";
}
@section style{
    <link rel="stylesheet" href="~/Content/PagedList.css" />
}

    <h2 class="mt-5">
        <i class="bi bi-bag-check-fill">Teachers</i>
    </h2>


    <div class="mt-4 Teacher">


    @if (!Model.Any())
    {
        <div class="alert alert-danger" role="alert">
            <i class="bi bi-exclamation-triangle">No Teacher"</i>

        </div>
    }
    else
    {
        <table class="table table-secondary table-hover" style="color:Gray;font-weight:bold;font-size:120%"
           border="5" bordercolor="black" align="center" id="table">
            <thead>
                <tr style="background-color:Gray">
                    <th scope="col">#</th>
                    <th scope="col" class="text-light"> Student_Name</th>
                    <th scope="col" class="text-light">SchoolName</th>
                    <th scope="col" class="text-light">Project</th>

                </tr>
            </thead>
            <tbody>
                @{
                    int index = 1;
                }
                @foreach (var teacher in Model.ToList<Teacher>())
                {
                    <tr class="mt-5" style="color:lightblue">
                        <th class="table-warning text-black" scope="row">@index</th>
                        <td class="table-warning text-black">@teacher.Teacher_Name</td>
                        <td class="table-warning text-black">@teacher.project</td>
                    </tr>


         
                <td class="table-warning text-black">
                    <a asp-action="Edit" asp-route-id="@teacher.Teacher_ID" class="btn btn-outline-primary">
                        <i class="bi bi-pencil">Edite Teacher</i>

                    </a>
                </td>
                <td class="table-warning text-black">

                    <a href="~/Product/Delete?id=@teacher.Teacher_ID" id="deletebtn" onclick="return confirm('Do you Want to delete Product :@teacher.Teacher_Name ')" class="btn btn btn-danger" class="alert alert-danger">
                        <i class="bi bi-trash">Delete Teacher</i>

                    </a>
                </td>



                    ++index;



                }

            </tbody>
        </table>
    }

    @*@Html.PagedListPager( Model, PageIndex => Url.Action("Index", new { PageIndex }) ) ;*@
</div>